@model TECIS.Data.Models.GuestContact


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Create</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("See All Contact History", "GuestContactHistory", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create GuestContact</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.theguestid, "theguestid", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("theguestid", String.Empty)
                @Html.ValidationMessageFor(model => model.theguestid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.guest_firstname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.guest_firstname)
                @Html.ValidationMessageFor(model => model.guest_firstname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.guest_lastname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.guest_lastname)
                @Html.ValidationMessageFor(model => model.guest_lastname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clusterid, "clusterid", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("clusterid", String.Empty)
                @Html.ValidationMessageFor(model => model.clusterid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contact_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contact_date)
                @Html.ValidationMessageFor(model => model.contact_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contacted_by, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contacted_by)
                @Html.ValidationMessageFor(model => model.contacted_by)
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 
