@model TECIS.Data.Models.Cluster

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details Cluster</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.ClusterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClusterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClusterDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClusterDesc)
        </dd>
                        <dt>
            @Html.DisplayNameFor(model => model.ClusterEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClusterEmail)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt>
            @Html.DisplayName("Section")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clustersections.Description)
        </dd>
         <dt>
            @Html.DisplayName("ClusterArea")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clustareas.Description)
        </dd>
        <dt>
            @Html.DisplayName("Zone")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clusterzones.Description)
        </dd>
        <dt>
           @Html.DisplayName("Cluster Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clustertypes.Description)
        </dd>
         <dt>
           @Html.DisplayName("Cluster Leader")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clusterheads.surname )
        </dd>
    </dl>


	    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













