@model IEnumerable<TECIS.Data.Models.Cluster>

@{
    ViewBag.Title = "Clusters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Index</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a>Cluster</a>
            </li>
            <li class="active">
                <strong>Clusters</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of Clusters</h5>
					<div class="ibox-tools">
                        	@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive" >
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                               
                                
                                <th>
                                    @Html.DisplayNameFor(model => model.ClusterName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ClusterDesc)
                                </th>                                                             
                                <th>
                                    @Html.DisplayName("Cluster Leader")
                                </th>
                                 <th>
                                    @Html.DisplayName("Cluster Email")
                                </th>
                                <th>
                                    @Html.DisplayName("Section")
                                </th>
                                <th>
                                    @Html.DisplayName("Area")
                                </th>
                                <th>
                                    @Html.DisplayName("Zone")
                                </th>
                                <th>
                                    @Html.DisplayName("Type")
                                </th>  
                                 <th>
                                    @Html.DisplayName("IsActive?")
                                </th>
                                <th></th> <th></th><th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClusterName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClusterDesc)
                                    </td>     
                                    <td>
                                        @Html.DisplayFor(modelItem => item.clusterheads.surname)
                                    </td>                              
                                   <td class="issue-info">
                                        <a href="#">
                                           @Html.DisplayFor(modelItem => item.clustersections.Description)
                                        </a>

                                        <small>
                                            @Html.DisplayFor(modelItem => item.clustersections.SectionLeader)
                                        </small>
                                    </td>                                                                                                            
                                    <td class="issue-info">
                                        <a href="#">
                                           @Html.DisplayFor(modelItem => item.clustareas.Description)
                                        </a>

                                        <small>
                                            @Html.DisplayFor(modelItem => item.clustareas.AreaCoordinator)
                                        </small>
                                    </td>   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClusterEmail)
                                    </td>                                  
                                    <td class="issue-info">
                                        <a href="#">
                                           @Html.DisplayFor(modelItem => item.clusterzones.Description)
                                        </a>

                                        <small>
                                            @Html.DisplayFor(modelItem => item.clusterzones.ZonalCoordinator)
                                        </small>
                                    </td>
                                     <td>
                                        @Html.DisplayFor(modelItem => item.clustertypes.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.status)

                                    <td>
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                                        </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-white btn-sm" })
                                        </td>
                                    <td>
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-white btn-sm" })
                                    </td>
                                    @*</td>
                                    <td style="width:20px">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Details", "Details", new { id = item.Id }, new { data_modal = "", @class = "btn btn-primary btn-sm" })</li>
                            <li>@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { data_modal = "", @class = "btn btn-white btn-sm" })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { data_modal = "", @class = "btn btn-white btn-sm" })</li>
                        </ul>
                    </div>
                </td>*@

                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>-</th>
                                <th>-</th>
                                <th>footer</th>
                                <th>-</th>
                                <th>-</th>
                                <th>-</th>
                                <th>-</th>
                                
                            </tr>
                        </tfoot>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>



@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")

    
}

